.vscode

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
target/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz

#Python
*__pycache__/
*.py[cod]
*$py.class.rar